@model EventBindingModel

<div class="d-flex flex-row bd-highlight justify-content-center">
    <div class="jumbotron p-0 mt-5 bg-primary shadow" style="width:900px; margin-left:200px">
        <div class="d-flex justify-content-between">
            <h3 class="pt-2 pl-3">@Model.Title</h3>
            <h5 class="mt-3">@Model.Location</h5>
            <h6 class="mt-3 mr-3 ">Admin: @Model.AdminName</h6>
        </div>
        <hr class="mt-1 mb-3">

        <h5>TEAM 1</h5>
        @foreach (var position in Model.Positions.Take(Model.Positions.Count / 2).ToList())
        {
            IDictionary<string, string> rv = new Dictionary<string, string>();
            rv.Add("eventId", Model.Id.ToString());
            rv.Add("positionId", position.Id.ToString());
            StarModel starModel = new StarModel(position.EventId, position.Approved);
            <div class="row">
                <div class="col">
                    @position.Name:
                </div>
                <div class="col">
                    @if (@position.Approved.Name != null)
                    {
                        <a type="button" class="btn btn-danger mx-3 mb-2" asp-controller="Users" asp-action="Profile" asp-route-name="@position.Approved.Name">@position.Approved.Name</a>
                    }
                    else
                    {
                        <button type="button" class="btn btn-danger mx-3 mb-2" disabled="disabled">Awaiting...</button>
                    }
                </div>
                <div class="col">
                    @if (@position.Approved.Name != null)
                    {
                        @await Html.PartialAsync($"_StarRatingPartial", starModel)
                    }
                </div>
                <div class="col">
                    @if (@position.Approved.Name == null)
                    {
                        <a class="btn btn-info btn mb-2 ml-4" role="button" asp-controller="Event" asp-all-route-data="@rv" asp-action="JoinUser">Join</a>
                    }
                    else
                    {
                        <a type="button" class="btn btn-info btn mb-2 ml-4" disabled="disabled">Ready</a>
                    }
                </div>
            </div>
        }
        <h5>TEAM 2</h5>
        @foreach (var position in Model.Positions.TakeLast(Model.Positions.Count / 2).ToList())
         {
            IDictionary<string, string> rv = new Dictionary<string, string>();
            rv.Add("eventId", Model.Id.ToString());
            rv.Add("positionId", position.Id.ToString());
            StarModel starModel = new StarModel(position.EventId, position.Approved);
            <div class="row">
                <div class="col">
                    @position.Name:
                </div>
                <div class="col">
                    @if (@position.Approved.Name != null)
                    {
                        <a type="button" class="btn btn-danger mx-3 mb-2" asp-controller="Users" asp-action="Profile" asp-route-name="@position.Approved.Name">@position.Approved.Name</a>
                    }
                    else
                    {
                        <button type="button" class="btn btn-danger mx-3 mb-2" disabled="disabled">Awaiting...</button>
                    }
                </div>
                <div class="col">
                    @if (@position.Approved.Name != null)
                    {
                        @await Html.PartialAsync($"_StarRatingPartial", starModel)
                    }
                </div>
                <div class="col">
                    @if (@position.Approved.Name == null)
                    {
                        <a class="btn btn-info btn mb-2 ml-4" role="button" asp-controller="Event" asp-all-route-data="@rv" asp-action="JoinUser">Join</a>
                    }
                    else
                    {
                        <a type="button" class="btn btn-info btn mb-2 ml-4" disabled="disabled">Ready</a>
                    }
                </div>
            </div>
         }

        <hr class="my-2">
        <div class="d-flex justify-content-center">
            <a class="btn btn-info btn mb-2 ml-4" role="button" asp-controller="HomePage" asp-route-id="@Model.Id" asp-action="DetermineEventView">Info</a>
        </div>
    </div>
</div>

<style>
    hr {
        background-color: bisque
    }

    a {
        color: white
    }

    a:hover, a:focus {
        background-color: transparent
    }
</style>



<script>
    src = "~/lib/bootstrap/dist/js/bootstrap.js";
    src = "~/js/site.js";
    src = "~/lib/jquery/dist/jquery.js";
</script>