@model IEnumerable<EventBindingModel>

@{
    ViewData["Title"] = "My Events";
}

<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-grid.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-reboot.css" rel="stylesheet" />
</head>
<div class="container">
    <div id="sidebar">
        @await Html.PartialAsync("_NavBarPartial")
    </div>

    @foreach (var userEvent in Model)
    {
        <div class="d-flex flex-row bd-highlight justify-content-center">
            <div class="jumbotron p-0 mt-5 bg-primary shadow" style="width:900px; margin-left:200px">
                <div class="d-flex justify-content-between">
                    <h3 class="pt-2 pl-3">@userEvent.Title</h3>
                    <h5 class="mt-3">@userEvent.Location</h5>
                    <h6 class="mt-3 mr-3 ">Admin: @userEvent.AdminName</h6>
                </div>
                <hr class="mt-1 mb-3">

                <h5>TEAM 1</h5>
                @foreach (var position in userEvent.Positions.Take(userEvent.Positions.Count / 2).ToList())
                {
                    IDictionary<string, string> rv = new Dictionary<string, string>();
                    rv.Add("eventId", userEvent.Id.ToString());
                    rv.Add("positionId", position.Id.ToString());
                    StarModel starModel = new StarModel(position.EventId, position.Approved);
                    <div class="row">
                        <div class="col">
                            @position.Name:
                        </div>
                        <div class="col">
                            @if (@position.Approved.Name != null)
                            {
                                <a type="button" class="btn btn-danger mx-3 mb-2" asp-controller="Users" asp-action="Profile" asp-route-name="@position.Approved.Name">@position.Approved.Name</a>
                            }
                            else
                            {
                                <button type="button" class="btn btn-danger mx-3 mb-2" disabled="disabled">Awaiting...</button>
                            }
                        </div>
                        <div class="col">
                            @if (@position.Approved.Name != null)
                            {
                                @await Html.PartialAsync($"_StarRatingPartial", starModel)
                            }
                        </div>
                        <div class="col">
                            @if (position.ToBeApproved.Exists(u => u.Name == User.Identity.Name))
                            {
                            <button type="button" class="btn btn-danger mx-3 mb-2" disabled="disabled" style="background-color:orange; color:white;">Waiting</button>
                            }
                            else if (@position.Approved.Name == null)
                            {
                                <a class="btn btn-info btn mb-2 ml-4" role="button" asp-controller="Event" asp-all-route-data="@rv" asp-action="JoinUser">Join</a>
                            }
                            else if (position.Approved.Name == User.Identity.Name)
                            {
                                <a type="button" class="btn btn-info btn mb-2 ml-4" asp-controller="Event" asp-route-EventId="@position.EventId" asp-route-PositionId="@position.Id" asp-route-UserId="@position.Approved.Id" asp-action="LeaveUser" style="background-color: red; color:white">Leave</a>
                            }
                            else
                            {
                                <a type="button" class="btn btn-info btn mb-2 ml-4" asp-controller="Event" asp-route-EventId="@position.EventId" asp-route-PositionId="@position.Id" asp-route-UserId="@position.Approved.Id" asp-action="LeaveUser" style="background-color: red; color:white">Kick out</a>
                            }
                        </div>
                    </div>
                }
                <h5>TEAM 2</h5>
                @foreach (var position in userEvent.Positions.TakeLast(userEvent.Positions.Count / 2).ToList())
                {
                    IDictionary<string, string> rv = new Dictionary<string, string>();
                    rv.Add("eventId", userEvent.Id.ToString());
                    rv.Add("positionId", position.Id.ToString());
                    StarModel starModel = new StarModel(position.EventId, position.Approved);
                    <div class="row">
                        <div class="col">
                            @position.Name:
                        </div>
                        <div class="col">
                            @if (@position.Approved.Name != null)
                            {
                                <a type="button" class="btn btn-danger mx-3 mb-2" asp-controller="Users" asp-action="Profile" asp-route-name="@position.Approved.Name">@position.Approved.Name</a>
                            }
                            else
                            {
                                <button type="button" class="btn btn-danger mx-3 mb-2" disabled="disabled">Awaiting...</button>
                            }
                        </div>
                        <div class="col">
                            @if (@position.Approved.Name != null)
                            {
                                @await Html.PartialAsync($"_StarRatingPartial", starModel)
                            }
                        </div>
                        <div class="col">
                            @if (position.ToBeApproved.Exists(u => u.Name == User.Identity.Name))
                            {
                                <button type="button" class="btn btn-danger mx-3 mb-2" disabled="disabled" style="background-color:orange; color:white;">Waiting</button>
                            }
                            else if (@position.Approved.Name == null)
                            {
                                <a class="btn btn-info btn mb-2 ml-4" role="button" asp-controller="Event" asp-all-route-data="@rv" asp-action="JoinUser">Join</a>
                            }
                            else if (position.Approved.Name == User.Identity.Name)
                            {
                                <a type="button" class="btn btn-info btn mb-2 ml-4" asp-controller="Event" asp-route-EventId="@position.EventId" asp-route-PositionId="@position.Id" asp-route-UserId="@position.Approved.Id" asp-action="LeaveUser" style="background-color: red; color:white">Leave</a>
                            }
                            else
                            {
                                <a type="button" class="btn btn-info btn mb-2 ml-4" asp-controller="Event" asp-route-EventId="@position.EventId" asp-route-PositionId="@position.Id" asp-route-UserId="@position.Approved.Id" asp-action="LeaveUser" style="background-color: red; color:white">Kick out</a>
                            }
                        </div>
                    </div>
                }

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h7 class="modal-title" id="exampleModalLabel">{Player Name}</h7>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="row d-flex" style="width:500px; height:500px">
                                    <div class="col">Description</div>
                                    <div class="col">Description</div>
                                    <div class="col">Description</div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" asp-controller="" asp-action="">View Profile</button>
                            </div>
                        </div>
                    </div>
                </div>

                <hr class="my-2">
                <div class="d-flex justify-content-center">
                    <a class="btn btn-info btn mb-2 ml-4" role="button" asp-controller="HomePage" asp-route-id="@userEvent.Id" asp-action="DetermineEventView">Info</a>
                </div>
            </div>
        </div>
    }
</div>



